{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>YELLOW SUBMARINE</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus voluptatibus repudiandae asperiores laboriosam expedita, debitis ipsam in quod voluptas nihil, laudantium dignissimos eligendi quibusdam saepe nesciunt ex id perferendis consequatur?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/yellow_submarine.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}